<% layout('layouts/boilerplate') -%>
<h1 class="text-center mb-3">All Tickets</h1>
<% for(let ticket of tickets) { %>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mb-3">
                <h5 class="card-header fs-6"><%= ticket.status.toUpperCase() %> - <%= ticket.classification.toUpperCase() %></h5>
                <div class="card-body">
                  <h6 class="card-title"><%= ticket.title %></h6>
                  <p class="card-text"><%= ticket.description %> </p>
                  <a href="/tickets/<%=ticket._id%>" class="btn btn-outline-info">View More</a>
                </div>
              </div>
        </div>
    </div>
<% } %> 